@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181719;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-between;
}

nav .main-btn {
    padding: 8px;
    color: #fff;
    height: fit-content;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-family: 'Crimson Pro', sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 15.56px;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

nav .main-btn:hover {
    color: #181719;
    background-color: #fff;
}

nav .menu > li {
    list-style: none;
    display: inline;
    font-size: 18px;
    line-height: 21.94px;
    font-weight: 500;
    margin-left: 86px;
    font-family: 'Montserrat', sans-serif;
}

li a {
    color: #fff;
    text-decoration: none;
}

nav .menu > li:first-of-type {
    margin-left: 0;
}

nav .menu > li.active {
    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
}

/* Mobile navbar modifications */
nav .menu-btn {
    z-index: 3;
    width: 30px;
    border: none;
    display: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

.menu-btn .slice {
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.menu-btn.menu-btn.opened .slice {
    margin: 0;
    position: absolute;
}

.menu-btn.opened .slice {
    transform: rotate(45deg);
}

.menu-btn.opened .slice:nth-of-type(2) {
    transform: rotate(-45deg);
}

.menu-btn .slice:last-of-type {
    margin-bottom: 0;
}

.mobile .container {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #181719;
}

.mobile .container.collapsed {
    display: none;
}

.mobile .menu > li {
    display: block;
    margin: 32px auto !important;
    text-align: center;
}

.mobile .menu-btn {
    display: block;
}

.hide {
    display: none;
}

.content {
    color: #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}

.content .description {
    width: 100%;
    max-width: 737px;
    display: flex;
    flex-direction: column;
}

.description h1 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 25px;
    line-height: 1.28em;
    font-family: 'Lora', serif;
}

.description p {
    width: 100%;
    max-width: 410px;
    font-size: 14px;
    line-height: 1.22;
    font-weight: 400;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
}

.description a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.22em;
    text-decoration: none;
    margin-bottom: 37px;
    font-family: 'Montserrat', sans-serif;
}

.description a span {
    margin-left: 15px;
}

.content .view {
    position: relative;
}

.view > img {
    z-index: 1;
    width: 100%;
    max-width: 737px;
}

.view .comment {
    position: absolute;
    bottom: -70px;
    right: 2%;
    padding: 10px 20px 20px;
    background-color: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comment .comment-header {
    display: flex;
    align-items: center;
}

.comment-header .avatar {
    width: 36.5px;
    height: 36.5px;
    border-radius: 50%;
    margin-right: 20px;
}

.comment-header .comment-info{
    font-weight: 500;
    line-height: 1.22em;
    font-family: 'Montserrat', sans-serif;
}

.comment-info .name {
    font-size: 12px;
}

.comment-info .role {
    color: #828282;
    font-size: 10px;
}

.comment .comment-body {
    width: 70%;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.28em;
    margin-top: 22px;
    font-family: 'Lora', serif;
}

footer {
    color: #A9A9A9;
    font-size: 14px;
    font-weight: 500;
    padding: 24px 0;
    margin-top: 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

footer a,
footer a:link,
footer a:visited {
    color: #A9A9A9;
    font-weight: bold;
}

@media only screen and (min-width: 1201px) {
    nav {
        max-width: 1400px;
        padding: 45px 10px;
    }

    .content {
        max-width: 1400px;
        justify-content: space-between;
    }

    .content .description {
        max-width: 410px;
    }

    .description h1 {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .description p {
        font-size: 24px;
        margin-bottom: 48px;
    }

    .description a {
        font-size: 18px;
        margin: 0;
    }

    .comment {
        right: 5%;
        bottom: -20%;
        padding: 18px 30px 34px;
    }

    .comment-header .avatar {
        width: 50px;
        height: 50px;
    }

    .comment-info .name {
        font-size: 14px;
    }
    
    .comment-info .role {
        font-size: 12px;
    }

    .comment .comment-body {
        font-size: 24px;
    }
}